.upper {
  text-transform: uppercase;
}

.margin {
  margin-right: 10px;
}
.marginl {
  margin-left: 10px;
}

.footer {
  background-color: #343a40;
  height: 75px;
  padding: 20px;
  margin-bottom: 0px;
  color: white;
}

.err {
  color: red;
}
